@use '../utils/variables' as v;
@use '../utils/placeholders' as *;
@use '../utils/mixins' as m;

.about {
  &__title {
    margin-bottom: 26px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;             
  }

  &__photo {
    max-width: 100%;
  }

  &__photo img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .about__content {
    flex-direction: row;   
    align-items: center;
    gap: 54px;             
  }

  .about__text,
  .about__photo {
    flex: 1;
    min-width: 0;           
  }
}
