@use '../utils/variables' as v;
@use '../utils/mixins' as m; 

.delivery {
  &__list {
    list-style: none;
    margin: 0 auto;
    padding: 8px 0 16px;
    max-width: 820px;
    display: grid;
    gap: 20px;
    font-size: 32px; 
    line-height: 1.5;
  }

  &__item {
    display: grid;
    grid-template-columns: 64px 1fr;   
    column-gap: 16px;
    align-items: center;

    .delivery__text {
      margin: 0;
    }
  }

  &__step {
    display: grid;
    place-items: center;
    inline-size: 64px;
    block-size: 64px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #cfcfcf;
    background: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
  }
  &__image {
    margin-top: 24px;
    display: block;

    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw); 

    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: none;
    }
  }

  @media (min-width: 1024px) {
    &__list {
      max-width: 1600px;
    }
  }

  @include m.mq(mobile) {
    &__list {
      max-width: 100%;
      gap: 14px;
      font-size: 14px; 
    }

    &__item {
      grid-template-columns: 40px 1fr;
      column-gap: 12px;
    }

    &__step {
      inline-size: 40px;
      block-size: 40px;
      border-width: 2px;
      font-size: 16px;
    }
  }
}
