@use '../utils/variables' as v;
@use '../utils/placeholders' as *;
@use '../utils/mixins' as m;

.footer {
  max-width: none !important;
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: -26px;
  margin-right: -26px;
  overflow-x: scroll;

  padding-inline: 24px;
  padding-block: 24px;

  background-color: #000;
  color: #fff;

  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto;
  align-items: flex-start;
  justify-content: center;
  column-gap: 48px;

  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    color: #fff;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li + li {
    margin-top: 8px;
  }

  h3 {
    margin: 0 0 10px;
  }

  p,
  a {
    font-size: 18px !important;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
  }

  a {
    @extend %focus-ring !optional;
  }

  &__logo {
    display: none;
    align-self: center;

    &-img,
    &-img img {
      display: block;
    }

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &__nav,
  &__times,
  &__contacts {
    align-self: flex-start;
  }

  &__icons {
    align-self: flex-start;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: flex-end;

      img {
        display: block;
      }
    }
  }

  .footer__times-title {
    white-space: nowrap;
    overflow-wrap: normal;
    word-break: normal;
    hyphens: none;
  }

  @include m.mq(tablet) {
    column-gap: 32px;
    padding-block: 20px;

    li + li {
      margin-top: 6px;
    }

    p,
    a {
      font-size: 16px;
    }

    h3 {
      font-size: 20px;
    }
  }

  @include m.mq(mobile) {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    justify-items: flex-start;
    text-align: left;
    grid-template-areas:
      "nav  times"
      "cont icons";

    &__nav {
      grid-area: nav;
    }

    &__times {
      grid-area: times;
      min-width: max-content;
    }

    &__contacts {
      grid-area: cont;
    }

    &__icons {
      align-self: center;
      justify-self: flex-end;

      &-list {
        flex-direction: row;
        gap: 16px;
        align-items: center;
      }
    }

    li + li {
      margin-top: 6px;
    }

    h3 {
      margin-bottom: 8px;
      font-size: 18px;
    }

    p,
    a {
      font-size: 14px;
    }
  }
}
