 @use '../utils/variables' as v;
@use '../utils/placeholders' as *;
@use '../utils/mixins' as m;

.header {
  padding-top: 28px;
  padding-right: 30px;


  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;          
  }



  &__logo-icon {
    height: 72px;
    max-width: 72px;
    color: black;

  }

  &__logo-icon--desktop {
    display: block;
  }
  &__logo-icon--mobile,
  &__logo-icon--tablet {
      display: none;
    }


  &__nav-list {
    display: flex;
    align-items: center;
    gap: 48px;
  }


  &__nav-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0;
    padding-block: 0;
    padding-inline: 2px;
    opacity: 0.9;
    transition: opacity 0.2s ease, color 0.2s ease;

    @extend %focus-ring !optional;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }

  &__contact-link {
    grid-column: 3;
    justify-self: end;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    color: inherit;

    @extend %focus-ring !optional;
  }

  &__contact-icon {
    display: block;
    width: 22px;
    height: 22px;
  }

  .burger {
    grid-column: 4;
    justify-self: end;
  }

  @include m.mq(tablet) {
    &__container {
      gap: 32px;
    }

    &__nav-list {
      gap: 24px;
    }

    &__nav-link {
      font-size: 20px;
    }

    &__logo-icon--desktop {
      display: none;
    }

    &__logo-icon--tablet {
      display: block;
    }
  }

  @include m.mq(mobile) {
    padding-top: 16px;

    &__container {
      gap: 16px;
      min-height: 48px;
    }

    &__nav {
      display: none; 
    }

    &__logo-icon--desktop,
    &__logo-icon--tablet {
      display: none;
    }

    &__logo-icon--mobile {
      display: block;
    }
  }
}
