@use '../utils/variables' as v;
@use '../utils/placeholders' as *;
@use '../utils/mixins' as m;

.hero {
  &__logo-icon { display: none; }
  &__logo-icon--desktop { display: block; }

  @include m.mq(tablet) {
    &__logo-icon--desktop { display: none; }
    &__logo-icon--tablet  { display: block; }
    &__logo-icon--mobile  { display: none; }
  }

  @include m.mq(mobile) {
    &__logo-icon--desktop,
    &__logo-icon--tablet { display: none; }
    &__logo-icon--mobile { display: block; }
  }

  &__top {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 110px; 
  }

  &__label {
    font-size: 32px;
  }



  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 160px;
  }

  @include m.mq(tablet) {
    &__top { gap: 20px; }

    &__label { font-size: 24px; }
    &__title { font-size: 120px; }
  }

  @include m.mq(mobile) {
    &__top { gap: 14px; }

    &__label { font-size: 14px; }
    &__title { font-size: 52px; }
  }
}
