@use '../utils/variables' as v;

.store {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;       
    width: 100%;
    max-width: 97%;  
  }

  &__item {
    flex: 0 1 100%;
    gap: 10px;
  }

  @media (min-width: 768px) {
    &__list {
      gap: 24px; 
    }

    &__item {
      flex-basis: calc((100% - 24px) / 2); 
    }
  }

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 12px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__item-title {
    font-size: 36px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 12px; 

    &::after {
      content: "";
      flex: 1 1 auto;
      height: 2px;
      background: #cfcfcf;
    }
  }

  &__item-price {
    font-size: 28px;
    font-weight: 600;
    color: #666;
    margin-top: 12px; 
  }
  &__order-button{
  margin-top: 60px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}

@media (max-width: 1024px) {
  .store__item-title { font-size: 32px; }
  .store__item-price { font-size: 24px; }
}

@media (max-width: 768px) {
  .store__item-title { font-size: 16px; }
  .store__item-price { font-size: 12px; }
}
